// gradients

.sexyBlueBackground {
  background-image: linear-gradient(to left bottom, #2193b0, #37a3bf, #4ab3ce, #5cc4de, #6dd5ed) !important;
  color: white !important;
}

.lushBackground {
  background-image: linear-gradient(to left bottom, #56ab2f, #6bb83c, #80c549, #94d356, #a8e063) !important;
  color: white !important;
}

.peachBackground {
  background-image: linear-gradient(to left bottom, #ed4264, #f77662, #faa271, #fbca90, #ffedbc) !important;
  color: white !important;
}

.white {
  color: white;
}

.backBlueBlack {
  background-color: #3F3351 !important;
}

.backGray {
  background-color: #2c3e50;
}

.gray {
  color: #7f8c8d !important;
}

.lightGray {
  color: #efefef;
}

.black {
  color: #2c3e50;
}

.blue {
  color: #3498db;
}

.redPeach {
  color: #FF8B8B;
}