// display ===========================
.dNone {
  display: none;
}

.dBlock {
  display: block;
}

.dFlex {
  display: flex;
}

.flexColumnJustifyCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexLeft {
  display: flex;
  align-items: center;
  justify-content: left;
}

.flexRight {
  display: flex;
  align-items: center;
  justify-content: right;
}

.flexSpaceAround {
  display: flex;
  flex-direction: row !important;
  justify-content: space-around !important;
  align-items: center;
}

.flexSpaceBetween {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.flexAlignStart {
  align-items: flex-start !important;
}

.flexAlignCenter {
  display: flex;
  align-items: center;
}

.flexAlignEnd {
  display: flex;
  align-items: flex-end !important;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.selfCenter {
  align-self: center;
}

.selfTop {
  align-self: flex-start;
}

.selfBottom {
  align-self: flex-end;
}

.flexWrap {
  flex-wrap: wrap;
}