// animations =========================
@keyframes fade {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

@keyframes fadeOpacityToLeft {
  0% {
    opacity: 0;
    transform: translateX(16px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOpacityToRight {
  0% {
    opacity: 0;
    transform: translateX(-16px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOpacityToTop {
  0% {
    opacity: 0;
    transform: translateY(-16px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOpacityToBottom {
  0% {
    opacity: 0;
    transform: translateY(16px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes translateToRight {
  0% {
    transform: translateX(-16px);
  }
  100% {
    transform: translateX(0);
  }
}

// transition =========================

.smallScale, .scale-1 {
  transition: all .4s;
}

.scale-1:hover {
  transform: scale(1.1);
}

.smallScale:hover {
  transform: scale(1.01);
}

.transition {
  transition: all .4s;
}
// hovers ==============================

.pointer:hover {
  cursor: pointer;
}

.redHover {
  transition: all .4s;
}

.redHover:hover {
  transform: scale(1.1);
  color: #e74c3c;
}

.blueHover {
  transition: all .4s;
}

.blueHover:hover {
  transform: scale(1.1);
  color: #3498db;
}
