.myCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0 10px rgba(73, 92, 131, 0.275);
    border-radius: 5px;
    .cardHeader {
        padding: .7rem;
        width: 100%;
        font-size: 1.1rem;
        font-weight: 600;
        text-align: center;
        img {
            width: 20%;
            border-radius: 50%;
        }
        .headerTitle {
            transition: all .2s;
        }
        .headerTitle:hover {
            font-weight: 700;
            transform: translateX(-3px);
            cursor: pointer;
        }
    }
    .cardLabel {
        position: absolute;
        top: 0.8rem;
        left: 0.8rem;
        width: 60px;
        height: 60px;
        padding: .2rem;
        font-size: .8rem;
        line-height: 1.5rem;
        text-align: center;
        background-color: #395B64;
        color: white;
        transition: all .4s;
        transform: rotate(-36deg);
        border-radius: 50%;
    }
    .cardLabel:hover {
        transform: scale(1.3);
    }
    .cardBody {
        width: 100%;
        text-align: center;
    }
    .cardOptions {
        position: absolute;
        top: 0.3rem;
        left: -3.3rem;
        display: flex;
        flex-direction: column;
        padding: .7rem;
        text-align: center;
        background-color: #395B64;
        color: white;
        box-shadow: 0 0 6px rgba(73, 92, 131, 0.275);
        border-radius: 5px 0 0 5px;
        transform: translateX(16px);
        opacity: 0;
        transition: all .4s;
        // z-index: -1;
        .seen {
            svg {
                color: #ABC9FF;
            }
        }
        .like {
            svg {
                color: #FF0063;
            }
        }
        .comment {
            svg {
                color: #EDDFB3;
            }
        }
        .star {
            svg {
                color: #FFF80A;
            }
        }
    }
    .cardFooter {
        display: flex;
        flex-wrap: wrap;
        padding: .3rem;
        width: 100%;
        text-align: center;
        .hashtag {
            margin: .2rem .1rem;
            padding: .5rem .8rem;
            background-color: dodgerblue;
            color: white;
            border-radius: 1rem;
            transition: all .2s;
        }
        .hashtag:hover {
            cursor: pointer;
            background-color: blue;
        }
    }    
}

.myCard:hover {
    .cardOptions {
        transform: translateX(0);
        opacity: 1;
    }
}