// layout ============================
.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.row {
  display: flex;
  justify-content: center;
}

.col3 {
  flex: 0 0 auto;
  width: 30%;
}

.col7 {
  flex: 0 0 auto;
  width: 70%;
}