.leftTooltip {
  display: none;
  position: absolute;
  right: 100px;
  background: black;
  color: white;
  white-space: nowrap;
  animation: fadeOpacityToLeft .4s;
}

.rightTooltip {
  display: none;
  position: absolute;
  left: 100px;
  background: black;
  color: white;
  white-space: nowrap;
  animation: fadeOpacityToRight .4s;
}

.bottomTooltip {
  display: none;
  position: absolute;
  top: 90px;
  right: 0;
  padding: .3rem;
  font-size: .8rem;
  background: black;
  color: white;
  white-space: nowrap;
  border-radius: .5rem;
  animation: fadeOpacityToTop .4s;
}
