// positions ========================
.toast {
  position : fixed;
  bottom : -4rem;
  right : -1rem;
  width : 500px;
  height: 150px;
}

.relative {
  position: relative;
}

.absBottomLeft {
  position: absolute;
  bottom: 0;
  left: 0;
}

.absTopLeft {
  position: absolute;
  top: 0;
  left: 0;
}

.absTop {
  position: fixed;
  top: 0;
}

.fixedRight {
  position: fixed;
  right: 0;
  top: 0;
}

.fixedLeftBottom {
  position: fixed;
  left: 0;
  bottom: 0;
}

.fixedShadow {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
}

.noLeft {
  left: 0 !important;
}

.highZIndex {
  z-index: 9999;
}

.marginXAuto {
  margin: 0 auto !important;
}