.box {
    transition: all .4s;
    .boxHeader {
        font-size: 5rem;
    }
    .boxMain {
        h2 {
            color: #2c3e50;
        }
        p {
            color: #7f8c8d;
        }
    }
}

.box:hover {
    transform: translateY(-5px);
    background-color: #eee;
}