// usersForm ==============================
input, select, textarea {
  outline: none;
  border: none;
  font-family: Vazirmatn , serif !important;
}

.inputMedium {
  width: 100%;
  font-size: 1.1rem;
  padding: .75rem 1rem .75rem 0;
  border-radius: 7px;
}

input::placeholder {
  font-family: Vazirmatn , serif !important;
  direction: rtl !important;
}

form {
  box-sizing: border-box;
}

// Buttons ===========================
button {
  outline: none;
  border: none;
  background-color: transparent;
  font-family: Vazirmatn , serif;
}

.whiteBtn {
  padding: 0.4rem 0.7rem;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 0.2rem;
  transition: all .4s;
  span {
    animation: fadeOpacityToLeft .4s;
  }
  .icon {
    display: none;
    animation: fadeOpacityToRight .4s;
  }
}

.whiteBtn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 1);
  .icon {
    display: block;
  }
}

.orangeBtn {
  border: 1px solid orange;
  padding: .2rem .3rem;
  border-radius: 1rem;
  transition: all .4s;
}

.orangeBtn:hover {
  background-color: orange;
  cursor: pointer;
}

.primaryBtn {
  border: 1px solid dodgerblue;
  padding: .2rem .3rem;
  border-radius: .3rem;
  transition: all .4s;
}

.primaryBtn:hover {
  background-color: dodgerblue;
  cursor: pointer;
}