// Cards ==============================
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 1.5rem .8rem;
  padding: 1rem .5rem;
  width: 100%;
  max-width: 25rem;
  max-height: 200px;
  border-radius: 1.25rem;
  .cardHeader {
    position: relative;
    margin: .5rem 0 .8rem;
    .cardSubject {
      padding-right: .5rem;
      padding-left: 6rem;
      line-height: 1.5;
      font-size: 1.2rem;
      font-weight: 700;
    }
    .cardTopSort {
      position: absolute;
      top: 0;
      left: .1rem;
      font-size: 0.75rem;
      font-weight: 800;
      border-radius: 1rem;
      .cardTopSortTime {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid orange;
        border-right: none;
        padding: .4rem .5rem;
        border-radius: 1rem 0 0 1rem;
        transition: all .4s;
        svg {
          position: relative;
          bottom: 1.5px;
          right: 1px;
        }
      }
      .cardTopSortTime:hover {
        background-color: orange;
        cursor: pointer;
      }
      .cardTopSortTitle {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .4rem .5rem;
        border: 1px solid red;
        border-left: none;
        border-radius: 0 1rem 1rem 0;
        transition: all .4s;
      }
      .cardTopSortTitle:hover {
        background-color: red;
        cursor: pointer;
      }
    }
  }
  .cardBody {
    padding: 0 .4rem;
    font-size: .9rem;
    line-height: 1.8;
    div {
      white-space: break-spaces;
    }
  }
  .cardFooter {
    position: relative;
    margin: .8rem 0;
    padding-right: .5rem;
    .cardFooterHashtags {
      .primaryBtn {
        margin: 0 .3rem;
        font-size: .8rem;
      }
    }
  }
  .editCard {
    position: absolute;
    right: -1.7rem;
    top: .8rem;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    background-color: #2c3e50;
    box-shadow: 6px 6px 9px 0 #2f4256;
    border-radius: 0 1rem 1rem 0;
    opacity: 0;
    transform: translateX(-16px);
    transition: all .4s;
    svg {
      margin: .3rem .2rem .5rem;
      padding-bottom: .5rem;
      padding-right: .1rem;
      transition: all .4s;
    }
    svg:hover {
      cursor: pointer;
      transform: scale(1.1);
      color: orange;
    }
  }
}

.card:hover {
  .editCard {
    opacity: 1;
    transform: translateX(0);
  }
}


// specialClasses =====================
.circleShadow {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: linear-gradient(225deg, #2f4256, #283848);
  box-shadow:  -35px 35px 70px #19232d,
  35px -35px 70px #3f5973;
}

.glassDiv {
  background: rgba(44, 62, 80, 0.6);
  backdrop-filter: blur(2px);
  color: white;
  border: 1px solid white;
}

.underlined {
  text-decoration: underline;
}