
// loops ==============================

@for $i from 0 through 15 {
  .mt-#{$i} {
    margin-top: .25rem * $i !important;
  }
  .mb-#{$i} {
    margin-bottom: .25rem * $i !important;
  }
  .ml-#{$i} {
    margin-left: .25rem * $i !important;
  }
  .mr-#{$i} {
    margin-right: .25rem * $i !important;
  }
  .mtb-#{$i} {
    margin-top: .25rem * $i !important;
    margin-bottom: .25rem * $i !important;
  }
  .mrl-#{$i} {
    margin-right: .25rem * $i !important;
    margin-left: .25rem * $i !important;
  }
  .m-#{$i} {
    margin: .25rem * $i !important;
  }
  .pt-#{$i} {
    padding-top: .25rem * $i !important;
  }
  .pb-#{$i} {
    padding-bottom: .25rem * $i !important;
  }
  .pl-#{$i} {
    padding-left: .25rem * $i !important;
  }
  .pr-#{$i} {
    padding-right: .25rem * $i !important;
  }
  .ptb-#{$i} {
    padding-top: .25rem * $i !important;
    padding-bottom: .25rem * $i !important;
  }
  .prl-#{$i} {
    padding-right: .25rem * $i !important;
    padding-left: .25rem * $i !important;
  }
  .p-#{$i} {
    padding: .25rem * $i !important;
  }
  .bold-#{$i} {
    font-weight: 100 * $i !important;
  }
  .lineHeight-#{$i} {
    line-height: .5rem * $i !important;
  }
  .w-#{$i} {
    width: 10% * $i !important;
  }
  .h-#{$i} {
    height: 50px * $i !important;
  }
  .opa-#{$i} {
    opacity: .1 * $i !important;
  }
  .textIndent-#{$i} {
    text-indent: .5rem * $i !important;
  }
}

@for $i from 1 through 40 {
  .fs-#{$i} {
    font-size: .1rem * $i !important;
  }
  .radius-#{$i} {
    border-radius: 1px * $i !important;
  }
}