// borders & margins ==================
.borderedPrimary {
  border: 1px solid dodgerblue;
  background-color: dodgerblue;
  color: white;
  transition: all .4s;
}

.borderedPrimary:hover {
  background-color: transparent;
  color: dodgerblue;
}

.borderedPrimaryOutline {
  border: 1px solid dodgerblue;
  background-color: transparent;
  color: dodgerblue;
  transition: all .4s;
}

.borderedPrimaryOutline:hover {
  background-color: dodgerblue;
  color: white;
}

.borderRadius {
  border-radius: 50%;
}

.grayBorder {
  border: 1px solid #7f8c8d;
}
